
.formula-1-text {
    font-family: 'Titillium Web', Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercas
    letter-spacing: 0.15em;
    font-size: 2rem;
    color: #e10600; /* Formula 1 red */
    text-shadow: 1px 1px 2px #111;
    /* Remove inline font-family and color from HTML */
}
p,li {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.intro { 
  text-align: center; 
  font-family: Arial;
}

h2 { 
  font-size: 36px;
}

p { 
  font-size: 14pt;
}

#image-gallery { 
  width: 600px; 
  margin: 0 auto;
}

#current-image { 
  width: 100%;
} 

#image-thumbs { 
  display: flex; 
  justify-content: center; 
  margin-top: 20px;
}

.thumb { 
  width: 80px; 
  height: 80px; 
  object-fit: cover; 
  margin-right: 10px; 
  cursor: pointer;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery::after {
    content: "";
    width: 350px;
}
.footer.fixed-bottom {
  background-color: transparent !important;
}